h1 {
  font-family: sans-serif;
  color: blueviolet;

  background-color: lightgrey;
  width: 400px;
  border: 15px solid blue;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
html {
  background-color: papayawhip;
}
h2 {
  font-size: larger;
  color: orangered;
}
p {
  font-size: larger;
}
ul {
  color: gold;
  background: #fff;
}

p.experience {
  background-color: turquoise;
  font-family: helvetica;

  position: relative;
}
#education {
  color: red;
}
#goals {
  color: blueviolet;
}
footer {
  font-size: 20px;
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}
ol {
  color: brown;
}
